{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>SIM-LABSOS</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

	<!-- plugins:css -->
	<link rel="stylesheet" href="{% static 'css/assets/vendors/mdi/css/materialdesignicons.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/assets/vendors/css/vendor.bundle.base.css' %}">
	<link rel="stylesheet" href="{% static 'css/assets/css/style.css' %}">
	<!-- End layout styles -->
	<link rel="shortcut icon" href="{% static 'css/assets/images/favicon.ico' %}" />
</head>

<body>
	<div class="container-scroller">
		<div class="container-fluid page-body-wrapper full-page-wrapper">
			<div class="content-wrapper d-flex align-items-center auth">
				<div class="row flex-grow">
					<div class="col-lg-4 mx-auto">
						<div class="auth-form-light text-center p-5">
							<div class="brand-logo">
								<img src="{% static 'css/assets/images/UNU.png' %}">
							</div>
							<h4>New here?</h4>
							<h6 class="font-weight-light">Signing up is easy. It only takes a few steps</h6>
							<form class="pt-3" method="POST">
								{% csrf_token %}
								<div class="form-group">
									<input type="text" name="first_name" class="form-control form-control-lg"placeholder="First Name">
								</div>
								<div class="form-group">
									<input type="text"  name="last_name" class="form-control form-control-lg" placeholder="Last Name">
								</div>
								<div class="form-group">
									<input type="email" name="email" class="form-control form-control-lg" placeholder="Email">
								</div>
								<div class="form-group">
									<input type="text" name="username" class="form-control form-control-lg" placeholder="Username">
								</div>
								<div class="form-group">
									<input type="password" name="password1" class="form-control form-control-lg" id="myinput" placeholder="Password">
								</div>
								<div class="form-group">
									<input type="password" name="password2" class="form-control form-control-lg"placeholder="Password">
								</div>
						</div>
						<div class="mt-3">
							<input class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn"
								type="submit" value="SIGN UP">
						</div>
						<div class="text-center mt-4 font-weight-light"> Already have an account? <a href="{% url 'login' %}	"
								class="text-primary">Login</a>
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- content-wrapper ends -->
	</div>
	<!-- page-body-wrapper ends -->
	</div>
	<script>
		function myFunction() {
		var x = document.getElementById("myInput");
		if (x.type === "password") {
			x.type = "text";
		} else {
			x.type = "password";
		}
		}
	</script>
	<script src="{% static 'css/assets/vendors/js/vendor.bundle.base.js' %}"></script>
	<script src="{% static 'css/assets/js/off-canvas.js' %}"></script>
	<script src="{% static 'css/assets/js/hoverable-collapse.js' %}"></script>
	<script src="{% static 'css/assets/js/misc.js' %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>

</html>
<!-- 
<body>
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<h3 id="form-title">REGISTER ACCOUNT</h3>
				</div>
				<div class="d-flex justify-content-center form_container">

					<form method="POST" action="">
						{% csrf_token %}
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							{{form.username}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
							</div>
							{{form.email}}
						</div>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							{{form.first_name}}
						</div>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							{{form.last_name}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							{{form.password1}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							{{form.password2}}
						</div>



						<div class="d-flex justify-content-center mt-3 login_container">
							<input class="btn login_btn" type="submit" value="Register Account">
						</div>

					</form>
				</div>

				{{form.errors}}

				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						Already have an account? <a href="{% url 'login' %}" class="ml-2">Login</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		/* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
//We start indexing at one because CSRF_token is considered and input field 
*/

		//Query All input fields
		var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder = 'Username..';
		form_fields[2].placeholder = 'Email..';
		form_fields[3].placeholder = 'Firstname..';
		form_fields[4].placeholder = 'Lastname..';
		form_fields[5].placeholder = 'Enter password...';
		form_fields[6].placeholder = 'Re-enter Password...';


		for (var field in form_fields) {
			form_fields[field].className += ' form-control'
		}
	</script>
</body>

</html> -->